.page {
  
  flex-direction: column;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: antiquewhite;
  margin: 6rem;

  .quotes {
    flex-direction: row;
    margin-left: 2rem;
    width: 54%;
  }

  .main-content {
    padding: 3rem;
    display: flex;
    
    
}
}