.page {
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding-top: 2.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem;
  background-color: antiquewhite;

  margin-left: 15rem;
  margin-right: 15rem;
  min-height: 75vh;
}
